.groupintrowrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(/Frame1.svg);
    background-color: #0A0812;
}


.groupintrowrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introgroup {
    width: 48%;
    height: 423px;
    text-align: left;
    
}

.gradnt {
    width: 1000px;
    height: 700px;
    position: absolute;
    left: -450px;
    top: -100px;
}

.introgroup h2{
    color: white;
    padding-bottom: 5px;
    height: 269px;
    animation: mymove 2s ease;
}

.introgroup p {
    color: white;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 30px;
}

.herogradien {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    background: linear-gradient(269deg, rgba(24, 38, 74, .8) 22.75%, rgba(15, 22, 49, .8) 93.35%);
}

.imageset {
    width: 48%;
    height: 396px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.formset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    border-radius: 40px;
    width: 464px;
    height: 56px;
    background: linear-gradient(269deg, rgba(24, 38, 74, .8) 22.75%, rgba(15, 22, 49, .8) 93.35%);
}

.formset input{
    background-color: transparent;
    border: none;
    padding-left: 38px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    outline: none;
    margin-left: -20px;
    
}

.formset input:focus {
    outline: none;
    color: white;
}
